//Reseteo de CSS
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html { height: 101%; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; }
table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

// Inicio de CSS
html{
  font-family: 'Open Sans Condensed', sans-serif;
}
  /*------BARRA DE NAVEGACION------*/
.navbar {
  background-color: #0C163D;
  font-weight: bolder;
  font-size: 1.3rem;
  font-family: 'Ubuntu', sans-serif;
  a {
    color: #C2F213;
  }
.logo{
  font-weight: bolder;
  font-size: 2rem;
  font-family: 'Ubuntu', sans-serif;

}
}
.navbar-toggler-icon {
background-image: url(../../imagenes/papas.png);
}

/*----------CONTACTOS---------*/

.boxMensaje{
  height:120px;
  text-align: left;
 }
.todoContactos{
  padding-top: 3rem;
  display: grid;
  background-color: orange;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: anteContacto boxContactanos;
  justify-content: center;
  height: 200vh;
}
.anteContacto {
  display: flex;
  flex-direction: column;
  background-image: url(../../imagenes/PIE.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: aliceblue;
}
.textoEscribinos{
  margin: 2rem;
  font-weight: bolder;
  font-size: 2.5rem;
  font-family: 'Ubuntu', sans-serif;
}
.imgFlecha{
  width: 6rem;
  height: 3em;
  margin-left:5rem;
}
.animate__slideInDown{
  animation-duration: 1s;
  --animate-repeat:3;
}
.boxContactanos{
  margin: 2rem;
}


/*--------INDEX HOME---------------*/
.indexHome {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #1f1f1f;
}
.homeIzq {
  display: flex;
  flex-direction: column;
  background-image: url(../../imagenes/PESA.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.textoIndex{
  color: aliceblue;
  font-weight: bolder;
  font-size: 1rem;
  font-family: 'Ubuntu', sans-serif;
  align-content: flex-end;
}
.botonIndex{
  width: 20rem;
  font-weight: bolder;
  font-size: 1.5rem;
  font-family: 'Ubuntu', sans-serif;
  color: aliceblue;
  background-color: brown;
  border-style: none;
}
/*-------INDEX ENTRENAMIENTOS-------*/

.indexEntrenamientos {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url(../../imagenes/BRAZO.jpg);
  background-repeat: no-repeat;
  background-size:cover;
}
.textoEntrenamientos{
  font-weight: bolder;
  font-size: 3rem;
  font-family: 'Ubuntu', sans-serif;
  align-content: flex-end;
  color: #C2F213;
  width: 10rem;
  padding: 4rem;
}
.textoVideos h4{
  font-weight: bolder;
  font-size: 1rem;
  font-family: 'Ubuntu', sans-serif;
  align-content: flex-end;
  padding: 1rem;
}
/*------NOSOTROS-----*/

.nosotrosTop {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  background-color: brown;
  h2 {
    margin: 2rem;
    font-weight: bolder;
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
    align-content: flex-end;
  }
}

/* --------Footer------------*/

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/*--------MIEMBROS------------*/
.indexMiembros{
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
}
.miembrosDer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  padding: 3rem;
  height: 100vh;
  background-image: url(../../imagenes/miembrosCHICO.jpg);;
  background-repeat: no-repeat;
  background-size: cover;
}
.miembrosIzq{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #1f1f1f;
}
.info{
  color: brown;
  padding: 1rem;
  font-weight: bolder;
  font-size: 1.5rem;
  font-family: 'Ubuntu', sans-serif;
}
.desarrollo{
  color: #C2F213;
}
.botonMiembros{
  background-color: brown;
  color: antiquewhite;
  border-style: none;
  width: 12rem;
  height: 4rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
  font-size: 1.5rem;
}
.botonMiembros:hover{
  background-color: antiquewhite;
  color: brown;
  transition: 0.6s;
}
.precioMiembros{
  color: #C2F213;
  padding: 1rem;
  font-size: 1.5rem;
  font-family: 'Ubuntu', sans-serif;
}
.tituloUsuario{
  color: brown;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
  font-size: 2.5rem;
}


/*--------Customizaciones------------*/
.bgIndex {
  background-color: #1f1f1f;
}
.subtitulo {
  h2 {
    font-weight: bolder;
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
  }
}
.titulo{
  h1{
    font-weight: bolder;
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
    padding: 1rem;
  }
}
.boton{
  color: #0C163D;
  background-color: #C2F213;
  text-decoration: none;
  border-radius: 7rem;
  font-size: large;
  width: 7rem;
  height: 3rem;
  border-color: deeppink;
}
.boton:hover{
  color: #0C163D;
  background-color: aqua;
}

.separate {
  @media (min-width: 1200px) {
    padding-top: 130px;
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    padding-top: 130px;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    padding-top: 60px;
  }
  @media (min-width: 576px) and (max-width: 767px) {
    padding-top: 60px;
  }
  @media only screen and (max-width : 575px) {
    padding-top: 60px;
  }
}

/*-----------------------------------------MEDIAS QUERIES-------------------------------*/

@media (min-width: 720px) {
  .container {
    max-width: 100%;
  }
  nav {
    height: 130px;
  }
  /*-------------HOME------------*/
  .homeIzq {
    display: flex;
    flex-direction: column;
    background-image: url(../../imagenes/entrGRANDE.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  .textoIndex{
    color: aliceblue;
    font-weight: bolder;
    font-size: 3rem;
    font-family: 'Ubuntu', sans-serif;
    align-content: flex-end;
  }
  /*--------ENTRENAMIENTOS---------*/
  .indexEntrenamientos {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(../../imagenes/homeGRANDE.jpg);
    background-repeat: no-repeat;
    background-size:cover;
  }
  .textoEntrenamientos{
    font-weight: bolder;
    font-size: 5rem;
    font-family: 'Ubuntu', sans-serif;
    align-content: flex-end;
    color: #1f1f1f;
    width: 30rem;
    padding: 2rem;
    padding-top: 8rem;
  }
  .entrenamientosVideos{
    width: 100%;
  }
  .imgFlecha{
    padding-top: 0.5rem;
  }
  .titulo{
    h1{
      font-weight: bolder;
      font-size: 3rem;
      font-family: 'Ubuntu', sans-serif;
      padding: 1rem;
    }
  }
  /*--------MIEMBROS----------*/
  .indexMiembros{
    background-color: #1f1f1f;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-content: center;
  }
  .miembrosDer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    background-image: url(../../imagenes/miembrosCHICO.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .miembrosIzq{
    display: flex;
    flex-direction: column;
  }
  /*---------NOSOTROS----------*/
  .nosotrosTop {
    display: flex;
    flex-direction: row;
    background-color: brown;
    h2 {
      text-align: left;
      justify-content: center;
      font-weight: bolder;
      font-size: 4rem;
      font-family: 'Ubuntu', sans-serif;
    }
  }
  .imagenNosotros{
    width: 50%;
    margin: 4rem;
  }
  .presentacionProfes{
    background-color: cadetblue;
  }
  /*----------CONTACTOS---------*/
.todoContactos{
  padding-top: 3rem;
  display: grid;
  color: brown;
  background-color: #1f1f1f;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: anteContacto boxContactanos;
  justify-content: center;
}
.anteContacto {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  background-image: url(../../imagenes/3c8534cd8e5b6cf8d3c2a07d28223a28.jpg);
}
.textoEscribinos{
  margin: 2rem;
  font-weight: bolder;
  font-size: 2.5rem;
  font-family: 'Ubuntu', sans-serif;
  color: aliceblue;
}
.boxContactanos{
  margin-top: 3rem;
  padding: 3rem;
}
/* --------Footer------------*/

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: aqua;
  .footer2{
    display: flex;
    flex-direction: row;
    width: 30rem;
  }
}

}

